{% extends 'layout.html' %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/style/style.css') }}">
{% endblock %}

{% block body %}
<a class="btn btn-secondary" href="{{url_for ('logout')}}">Logaut</a>

    <div class="container">

        <form action="/uploads" method="POST" enctype="multipart/form-data">
            <label for="formFile" class="form-label"><h2>Cargar Programación</h2></label>
            <input class="form-control" type="file" name="file_excel" accept=".xlsx, .xls" required>
            <button class="btn btn-success" type="submit">Subir Archivo</button>
        </form>
    </div>

    <div class="contec-table">
        <a href="{{ url_for ('tabla') }}">Programación</a>
    </div>

{% endblock %}