{% extends ('layout.html') %} 

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/style/login.css') }}">
{% endblock %}

{% block header %}
<header>
  <div class="logo">
    <img src="{{ url_for('static', filename ='assets/img/logoag1.png') }}" alt=""> <br><br\>
    <!-- <h1>{{current_user.usuario}}</h1> -->
</div>
</header>
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
<form action="/admin" method="POST">
  {% with messages = get_flashed_messages() %}

  {% if messages %}
  <br>
  {% for message in messages %}
  <div class="alert alert-primary alert-dismissible" role="alert">
    <strong>{{ message}}</strong>
    <button class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  {% endfor %}

  {% endif %}

  {% endwith %}
    <h1 class="h2 mb-4 fw-bold">Login - Admin</h1>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="form-floating">
      <input type="email" class="form-control" name="correo" aria-describedby="emailHelp">
      <label for="username">Correo</label>
    </div>

    <div class="form-floating mt-2">
      <input type="password" class="form-control" name="contraseña">
      <label for="password">Contraseña</label>
    </div>
    <button class="w-100 btn btn-lg btn-success mt-4" type="submit">Iniciar Sesión</button>
</form>
</div>
  {% endblock %}