{% extends 'layout.html' %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/style/style.css') }}">
{% endblock %}

{% block body %}
<div id="resultado" class="text-center">
    <h4 class="text-center">Resultado <hr></h4>
    {% if (resul) %} <!--Si existe-->
    <table class="table">
        <thead>
            <tr>
                <td scope="col">HORA</td>
                <td scope="col">PARTIDO</td>
                <td scope="col">CATEGORIA</td>
                <td scope="col">CANCHA</td>
                <td scope="col">FECHA</td>
            </tr>
        </thead>
        <tbody class="table-group-divider" >
    
            {% for p in resul %}
                <tr>
                    <td scope="row">{{p.1}}</td>
                    <td scope="row"><a href="partido/{{p.0}}">{{p.2}} vs {{p.3}}</a></td>
                    <td scope="row">{{p.4}}</td>
                    <td scope="row">{{p.5}}</td>
                    <td scope="row">{{p.6}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
        
    {% else %}
        <p>No hay resultados para la busqueda:
            <strong class="busq colorCrimson"> {{ busqueda }}</strong>
        </p>
    {% endif %}

</div>

{% endblock %}